.heading {
  color: purple;
}

ul {
  color: blue;
}

.bacon {
  height: 100px;
  width: 100px;
}

.spaghetti {
  height: 100px;
  width: 100px;
}

.sushi {
  height: 100px;
  width: 100px;
}
